:root {
    --phone-width: 360px;
    --phone-height: 640px;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.phone {
    width: var(--phone-width);
    height: var(--phone-height);
    display: flex;
    flex-direction: column;
    background-color: pink;
    overflow: hidden
}

.screen {
    flex: 1;
    overflow-y: auto;
    position: relative;
}

.tab-page {
    display: none;
    padding: 12px;
}

.tab-page h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    height: 64px;
    background-color: #eee;
}

.tablink {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #ffeb3b;
    font-family: Arial, sans-serif;
    font-size: 12px;
    cursor: pointer;
}

.tablink:hover { background-color: #2a3a8f;}
.tablink.active { background-color: #555;}

.nav-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-bottom: 2px;
}
