#tab4 .profile {
    text-align: center;
}

#tab4 .profile img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#tab4 .profile p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
}

#tab4-notification {
    display: none;
    position: relative;
    margin: 20px auto;
    padding: 12px;
    width: 80%;
    background-color: #eee;
    border: 2px solid #555;
    text-align: center;
    font-size: 16px;
}

#tab4-notification button {
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}
